<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Skills.css">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <title>Skills</title>
</head>
<body>
    <main>
        <a href="/">Home</a>
        <h1>Skills</h1>
        <ul>
            <% skills.forEach(function(s) { %>
                <li>
                    <form action="/skills/<%= s.id %>?_method=DELETE"
                        class="delete-form" method="POST">
                        <button type="submit">X</button>
                    </form>
                    <a href="/skills/<%= s.id %>"><%= s.skill %></a>
                    -
                    <%= s.level %>
                </li>
            <% }) %>
        </ul>
        <a href="/skills/new">Add a Skill</a>
    </main>
</body>
</html>