<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/skill.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <title>Skill</title>
</head>
<body>
    <main>
        <a href="/" class="return">Home</a> | <a href="/skills" class="return">Skills List</a>
        <h3><%= skill.skill %></h3>
        <h3>Level: <%= skill.level %></h3>
        <a href="/skills/<%= skill.id %>/edit" class="ed">Edit Skill</a>
    </main>
</body>
</html>