<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/Home.css' />
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  </head>
  <body>
    <main>
      <img src="https://i.imgur.com/tGsAJkF.jpg">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %>'s Page</p>
      <a href="/skills">Skills List</a>
    </main>
  </body>
</html>
