body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(closest-side, rgb(0,108,128), rgb(255,206,0), rgb(153,0,51));
    background-repeat: no-repeat;
    font-family: 'Fredericka the Great', cursive;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 500px;
}

h3 {
    font-size: 50px;
}

.ed {
    font-size: 30px;
}

.return {
    font-size: 20px;
}