body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    color: rgb(90, 0, 90);
    font-family: 'Yellowtail', cursive;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    width: 500px;
}  

h1 {
    font-size: 60px;
}

ul {
    list-style: none;
    font-size: 25px;
}

a {
    color: rgb(255, 0, 221);
    font-size: 25px;
}

a:visited {
    color: rgb(255, 0, 221);
}

.delete-form {
    display: inline-block;
    margin-right: 10px;
}

.delete-form button {
    color: rgb(90, 0, 90);
    background: transparent;
    border: 1px solid rgb(90, 0, 90);
}